.container {
  /* height: 500px; */
  background-color: blue;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* flex-flow: column     wrap-reverse; */
    /* align-items: center; */
    /* align-content: center; */
  /* gap: 30px; */
  /* row-gap: 50px; */
  /* column-gap: 100px; */
}
/* .container2 {
    height: 200px;
    background-color: rgb(140, 1, 191);
    display: flex;
    justify-content: space-around;
}
.container3 {
    height: 200px;
    background-color: rgb(233, 167, 0);
    display: flex;
    justify-content: space-evenly;
} */


/* align-content: center; */

.item {
    /* height: 30px; */
  width: 50px;
  margin: 10px;
  background-color: rgb(0, 203, 206);
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

/*  $ order */

/* #item1 {
  order: 1;
}
#item2 {
  order: 2;
}
#item3 {
  order: 2;
}
#item4 {
  order: -1;
}
#item5 {
  order: 0;
}
#item6 {
  order: -2;
} */


/* $ align-self */

/* #item2 {
  align-self: baseline;
} */

/* $ flex-grow */
/* #item1 {
  flex-grow: 2;
}
#item2 {
  flex-grow: 3;
} */

/* $ flex-shrink */
/* #item1 {
  flex-shrink: 1;
}
#item2 {
  flex-shrink: 5;
} */

/* $ flex-basis */
/* #item1 {
  width: 50px;
  flex-basis: content;
} */

/* * flex-basis e min-width */
/* .item {
    flex-basis: 100px;
    min-width: 100px;
}
#item1 {
    flex-basis: 20px;
    min-width: 150px;
}
#item2 {
    flex-basis: 50px;
    min-width: 150px;
}
 */

/* $ flex */
/* #item1 {
  flex: 5 0 5rem;
}
#item2 {
  flex: 1 1 10rem;
}
 */

